management:
  metrics:
    export:
      otlp:
        enabled: true
        url: http://localhost:4318/v1/metrics

spring:
  rabbitmq:
    username: guest
    password: guest
    host: localhost
    port: 5672


  security:
    user:
      name: admin
      password: admin

stripe:
  secretKey: ${SECRET_KEY_STRIPE}
  publicKey: ${PUBLIC_KEY_STRIPE}